<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nyandoro.kapadokia.luquluqu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lukuicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lukuicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chat"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CompanyCulture" />
        <activity android:name=".EmployeeSchedule" />
        <activity android:name=".WeeksInitiative" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme2" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>